 

.listEvents {
  margin: 1rem 0;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listEvents article {
    background-color: var(--gray-light);
    padding: 1rem; 
    margin: 1rem;
    display: grid;
  }

.listEvents article h3 {
    margin: 0;
    padding-left: 1rem;
  }
  
.listEvents article img {
    padding: 0;
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    margin: 1em;
  }

.pEvents {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 5fr auto;
    grid-template-rows: auto auto auto auto;
}

.pEvents i {
  grid-column: 1;
}

.pEvents a {
  grid-column: 3;
  grid-row: 4;
}

#search > label{
  margin-left: 0%;
}

h1{
  margin-bottom: 1.2%;
}

input{
  margin-top: 0.3%;
  margin-right: 5%;
  padding: 6px 12px;
}

#apply{
  margin-left: 47.1%;
  margin-top: 1%;
  padding-top:4px;
  padding-bottom:4px;
  width: 8%;
}

#no_events_found{
  padding-top:13.5%;
  padding-bottom:10%;
}