body {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;

}

body > header {
    grid-column: 1/5;
    grid-row: 1;
}

#titlePhilosophy {
    grid-column: 1/5;
    grid-row: 2;
    margin-left: 0%;
}

#text1 {
    grid-column: 1/4;
    grid-row: 3;
    padding-bottom: 4rem;
}

#img1 {
    grid-column: 4/5;
    grid-row: 3;
}

#text2 {
    grid-column: 2/5;
    grid-row: 4
}

#img2 {
    grid-column: 1/2;
    grid-row: 4;
}

#titleContacts {
    grid-row: 5;
    grid-column: 1/5;
    margin-left: 0%;
}

#titleUs {
    grid-row: 6;
    grid-column: 1/5;

}

#Peralta {
    grid-column: 2;
    grid-row: 7;
}

a img {
    width: 30px;
}

img{
    width: 200px;
}

#Matos {
    grid-column: 3;
    grid-row: 7;

}

h1, #titleUs, #text1, #img2{
    padding-left: 5rem;
}

#text2, #img1 {
    padding-right: 5rem;
}
 

#Peralta, #Matos {
    padding: 3rem;  
    text-align: center;

}

#Peralta p, #Matos p {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: -90%;
    width: 90%;
}