/*
    General Layout
*/

html {
    height: 100%;
}

body{
    width: 95%;
}

.errorMessage {
    text-align: center;
    padding: 0.5em;
    grid-column-end: span 3;
}

/* 
    Header
*/

.header {
    position: fixed;
    top: 0;
    width: 95%;
    margin: 0 2rem;
    padding: 1rem 0;
}

.header > a {
    text-align: center;
    line-height: 1.5rem;    
    padding: 1% 1.5%;
}

.header > a.trailing {
    float: left;
}

.header img {
    float: left;
    width: 60px;
}

.header > a.actions {
    float: right;
}

#buttonLogout {
    margin-left: 1rem;
}

#nameUser, #nameUser:hover {
    margin-left: 2rem;
}

h1 {
    margin-left: 5%;
    margin-bottom: 0;
}

legend{
    margin-left: 15%;
    margin-bottom: 1em;
}

label>*{
    margin-left: 35%;
    margin-bottom: 2%;
}

label{
    margin-left: 35.6%;
}

fieldset > input{
    position: relative;
    margin-left: 46%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 45px;
    padding-right: 45px;
}

.returnToPages{
    display: inline;
    margin-left: 33.5%;
}

/* Footer */

#footer {
    position: absolute;
    bottom: auto;
    margin-top: 1rem;
    width: 90%;
    height: 40px;
}