 

#eventDetails{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
}

#leftPanel{
    grid-column: 1/3;
}

#rightPanel{
    grid-column: 4;

}

#leftText{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
}

#eventImage {
    width: 55rem;
    height: 20rem;
    object-fit: cover;
}


.pEvents {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto auto auto;
}

.pEvents i {
  grid-column: 1;
}

.pEvents a {
  grid-column: 3;
  grid-row: 4;
}

#leftText h2 {
    margin-bottom: 1rem;
}

.listItem, .listRegistered {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.listItem {
    padding: 1rem 3rem;
}

.listItem p{
    margin-left: 2rem;
}

.listItem p a {
    color: var(--blue-dark);
}

.listItem p a:hover {
    color: var(--orange-dark);
}
.listRegistered h2 {
    width: 100%;
}


