/*
    Style images
*/

/* label{
    padding
} */

#fileToUpload{
    border: solid rgb(118, 118, 118);
    border-radius: 25px;
    border-width: 2px;
}

#submit_button{
    color: white;
    background-color: var(--blue-dark);
    border-radius: 25px;
}