/* 
    Header_Public
*/

#header > a {

    text-align: center;
    padding: 12px;
    font-size: 16px;
    line-height: 50px;    
}

#header > a.trailing {
    float: left;
}

#header img {
    float: left;
    width: 50px;
    padding: 12px;
  }

#header > a.actions {
    float: right;
}

