@import "css/general.css";


#eventsNOW{
    color: var(--gray-dark);
    margin-left: 2rem;
    padding-left: 4rem;
    
}
  

.pEvents i{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    color: var(--orange-dark);
}

.textEvents, h3 {
    padding-left: 1rem;
  }

.fas {
    color: var(--gray-dark);
    padding-left: 0.5em;
}

h3 > a:hover, .fas:hover {
    color: var(--orange-dark);
}

#search {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom: 1px solid var(--gray-dark);
    padding-bottom: 1rem;
}

#search input{
    flex-grow: 1;
    margin: 2em;
    align-self: center;
}
