@import "css/style/general.css";

#text1 h2 b, #text2 h2 b, #titleUs b, #Peralta b, #Matos b{
    color: var(--blue-dark);
    font-weight: 800;
}
.profilePic {
    object-fit: cover;
    border-radius: 50%;
}
