@import "css/style_general.css";

#text1 h2 b, #text2 h2 b, #titleUs b, #Peralta b, #Matos b{
    color: var(--blue-dark);
    font-weight: 800;
}


h1, #titleUs, #text1, #img2{
    padding-left: 5rem;
}

#titleContacts, #titlePhilosophy {
    padding-top: 4rem;
}

#text1 {
    padding-bottom: 4rem;
}

#text2, #img1 {
    padding-right: 5rem;
}
 


#Peralta, #Matos {
    padding: 3rem;  
    text-align: center;

}

#Peralta p, #Matos p {
    text-align: center;
}

.profilePic {
    object-fit: cover;
    border-radius: 50%;
}

#footer {
    padding-top: 5rem;
}