/*
    Registration
*/

h1 {
    margin-top: 2em;
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--blue-dark);
}

fieldset{
    border: none;
}

legend{
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--orange-light);
}
.role{
    font-weight: 700;
    font-size: 3rem;
    color: var(--blue-dark);
}

label{
    font-weight: 200;
    font-size: 1rem;
}

.write_input{
    width: 30%;
    height:2em;
    border-radius: 15px;
    border-style: solid;
}

#talk_abstract{
    width: 30%;
    height:9em;
    border-radius: 15px;
}

select{
    width: 10%;
    height:2rem;
    border-radius: 15px;
    border-width: 2px;
}

fieldset > input{
    color: white;
    background-color: var(--blue-dark);
    border-radius: 25px;
}


