 

.fancyButton {
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-style: solid;
    border-radius: 5em;
    border-color: var(--blue-light);
    border-width: 2px;
    color: var(--blue-dark);
    text-align: center;
    margin: 1rem 3rem;
}

.fancyButton:focus, .fancyButton:hover {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.fancyButton i {
    padding-left: 1em;
    color: var(--blue-dark);
}

#createEventButton{
    padding: 1rem;
}

