/* 
    Header_Public
*/
@import "css/style_general.css";

.header {
    top: 1rem;
    width: 95%;
    margin: 0 2rem;

}

.header > a {

    text-align: center;
    font-size: 16px;
    line-height: 1.5rem;    
    padding: 1% 1.5%;
}

.header > a.trailing {
    float: left;
}

.header img {
    float: left;
    width: 60px;
}

.header > a.actions {
    float: right;
}

#buttonLogin, #buttonLogout {
    border: 3px solid var(--orange-light);
    border-radius: 5rem;
}

#buttonLogin:hover, #buttonLogout:hover {
    border: 3px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 5rem;
    color: white;
}

#buttonLogout {
    border: 2px solid #c22d26;
    margin-left: 1rem;
}
#buttonLogout:hover {
    border: 2px solid #c22d26;
    background-color: #c22d26
}

