/*
    General Style
*/

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.ttf") format("ttf"),
         url("/fonts/Montserrat-Bold.ttf") format("ttf"),
         url("/fonts/Montserrat-Black.ttf") format("ttf"),
         url("/fonts/Montserrat-Italic.ttf") format("ttf"),
         url("/fonts/Montserrat-Medium.ttf") format("ttf"),
         url("/fonts/Montserrat-Black.ttf") format("ttf"),
         url("/fonts/Montserrat-ExtraBold.ttf") format("ttf"),
}

html {
    --blue-dark: #09427d;
    --blue-light: #89dfd7;

    --orange-dark: #ff9b07;
    --orange-light: #ffd495;

    --gray-light: #dededf;
    --gray-dark: #252525;

    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--gray-dark);
    font-weight: 500;
}

a:focus, a:hover {
    text-decoration: none;
    color: var(--orange-dark);
}


.errorMessage {
    background-color: #FCC;
    color: red;
}

/* 
    Header
*/

.header {
    background-color: white;
}

.header > a {
    font-size: 16px;
}

#buttonLogin, #buttonLogout {
    border: 3px solid var(--orange-light);
    border-radius: 5rem;
}

#buttonLogin:hover, #buttonLogout:hover {
    border: 3px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 5rem;
    color: white;
}

#buttonLogout {
    border: 2px solid #c22d26;
}

#buttonLogout:hover {
    border: 2px solid #c22d26;
    background-color: #c22d26
}

#nameUser, #nameUser:hover {
    color: var(--blue-dark);
}

/* Headings */

h1 {
    margin-top: 2em;
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--blue-dark);
}

/* Forms */

fieldset{
    border: none;
}

legend{
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--orange-light);
}
.role{
    font-weight: 700;
    font-size: 3rem;
    color: var(--blue-dark);
}

label{
    font-weight: 200;
    font-size: 1rem;
}

.write_input{
    width: 30%;
    height:2em;
    border-radius: 15px;
    border-style: solid;
}

#talk_abstract{
    width: 30%;
    height:9em;
    border-radius: 15px;
}

select{
    width: 10%;
    height:2rem;
    border-radius: 15px;
    border-width: 2px;
}

fieldset > input{
    color: white;
    background-color: var(--blue-dark);
    border-radius: 25px;
}

.returnToPages>a{
    font-weight: 600;
    font-size: 1.1em;
}