@import "css/style/general.css";
  

.pEvents i{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    color: var(--orange-dark);
}

.textEvents, h3 {
    padding-left: 1rem;
  }

.fas {
    color: var(--gray-dark);
    padding-left: 0.5em;
}

h3 > a:hover, .fas:hover {
    color: var(--orange-dark);
}

/* Control bar */
.displayControlBar {
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 1rem;
}

b{
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--orange-dark);
}

select, input{
    width: 11%;
}

input{
    border-radius: 25px;
    border: 2px solid rgb(118, 118, 118);
}
#apply{
    color: white;
    background-color: var(--blue-dark);
    border-radius: 25px;
}


/* #search input, #setPages input{
    margin: 1em;
    align-self: center;
} */

.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    color: var(--orange-dark);
    font-weight: 700;
    font-size: 1.1rem;
}

  
 .pagination a {
    margin: 0 1em;
}

.hiddenAnchor {
    visibility: hidden;
}

i.fas fa-less-than, i.fas fa-greater-than{
    font-size: smaller;
    padding: 0 4rem;
    text-align: center;
}