
div ul{
    list-style-type: none;
    text-align: center;
}

 div li{
    border: 2px solid var(--blue-light);
    border-radius: 10rem;
}

div li:hover{
    border: 2px solid var(--blue-light);
    background-color: var(--blue-light);
}

div li>a:hover{
    color: var(--blue-dark);
}

#buttonDelete{
    border: 2px solid #c22d26;
}


#buttonDelete:hover, #buttonDelete a:hover {
    border: 2px solid #c22d26;
    background-color: #c22d26;
    color: white;
}

div ul:hover {
    color: white;
}

#deleteWarning, #deleteWarning:hover{
    border: none;
    color: #c22d26;
    background-color: white;
    font-size: smaller;
}

#codesInfo b{
    color: var(--blue-dark);
}

li a .fa-times{
    color: #c22d26;
}

li a .fa-times:hover{
    color: #531511;
}

