/*
    Style see_more
*/

#eventName:hover{
    color: var(--orange-dark);
}

h2{
    font-weight: 600;
    font-size: 3rem;
    color: var(--orange-light);
}

h3{
    color:var(--orange-dark);
    font-size: 1.4rem;
    margin-bottom: 1%;
}

#infoWrap{
    border-style: none;
    border-radius: 15px;
    background-color: var(--gray-light);
}

.picFrame{
    width:100px;
    height:100px;
}

.image_cover{
    width:60px; 
    height:60px; 
    border-radius:50%; 
    overflow:hidden;
    float: left;    
    margin: 7px 0 0 5px;
}