<footer id="footer">
    
        <b> Copyright &copy; 2020 cBooking </b>
        <div>
            <a class="right" href="https://github.com/joamats/ProjetoESIN" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a class="right" href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="right" href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="right" href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="right" href="https://www.linkedin.com" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
           
        </div>
        
</footer>
</body>
</html>