<!DOCTYPE html>
<link href="css/style_header.css" rel="stylesheet">

    </head>
    
    <body>
        <header>
            <nav id="header">
                <a class="trailing" href="index.php"><img src="images/logo.png" alt="logo" width="60"></a>
                <a class="actions" href="action_logout.php">Logout</a>
                <a class="actions" href="dashboard_organizer.php">My Events</a> 
                <a class="actions" href="create_event.php">Create an Event</a>
            </nav>
        </header>
