<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>cBooking</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <link href="layout.css" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <nav class="topnav">
                <a class="active" href="index.php"><img src="images/logo.png" alt="logo" width="60"></a>
                <a href="search.php">Search</a>
                <img src="images/search.svg" alt="search">
                <a class="active" href="about.php">About</a>
                <a class="active" href="events_now.php">Events</a>
                <a href="registration_organizer.php">Become an Organizer</a>
                <a href="login.php">Login</a>
            </nav>
        </header>
